body {
margin: 0 auto;
}

nav {
  background-color: #e1e1e1;
}

.name {
  background-color: beige;
}

.title {
  color: #474652
}

.contacts {
  background-color: #e1e1e1;
}

.summary {
  background-color: beige;
}

.codeexample {
  background-color: #e1e1e1;
}